body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 270px;

}
.container1,.header {
    background-color: #1F2937;
}
.container1 {
    padding: 8px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: flex-start;
    font-weight: bolder;
}
.header-links > ul,a {
    font-size:18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-right: 80px;
}
.hero-left > h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}
.hero-left > p {
    font-size: 18px;
    color: #F9FAF8;
    margin: 5px;
}
.top-button > button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.hero-right {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    
    max-height: 200px;
    max-width: 450px;
    justify-content: center;
    background-color: grey;
}

.placeholder {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.sri-container {
    margin-bottom: 110px;
}

.sri-container > h3 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.illustrations {
    width: 130px;
    height: 130px;
    border: #3882F6 3px solid;
    background: transparent;
    border-radius: 12px;
}

.illustration-text > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    max-width: 800px;
    text-align: center;
    gap: 77px;
    padding: 0px;
}

.illutrations-container,.illustration-text {
    display: flex;
    flex: 0;
    justify-content: center;
    gap: 83px;
}

.quote-container {
    background-color: #E5E7EB;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    display:flex;
    flex-direction: column;
    max-width: 59rem;
    align-items: center;
}

.quote > p {
    color: #1F2937;
    font-size: 36px;
    font-style: oblique;
    margin: 100px;
}

.quote > h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: -70px;
    margin-bottom: 100px;
    padding-left: 400px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.container3 {
    width: 1000px;
    height: 120px;
    background-color: #3882F6;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container4 {
    display: flex;
    justify-content: space-evenly;
}
.call > h4 {
 color:White;
 font: weight 900px;
 font-size: 22px;
 margin: 0;
}

.call > p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.call {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    align-items: flex-start;
    
}

.button2 {
    display: flex;
    align-items: center;    
}

.button2 > button {
    background-color: #3882F6;
    color: white;
    border: 2px white solid;
    padding: 5px 22px;
    border-radius: 4px;
    font-weight: bold;
}

.footer > p {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 15px;
    margin: 0px;
    padding: 25px
}